{% extends 'book/base.html' %}
{% block title %}
  Add Publisher
{% endblock %}
{% block content %}
    <form action="{% url 'publisher-add' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="ex. Cheshmeh">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Year</label>
        <input type="text" name="year" class="form-control" id="formGroupExampleInput2" placeholder="ex. 1370">
      </div>
      <button class="btn btn-success" type="submit">Create</button>
    </form>
{% endblock %}